{% extends 'base.jinja2' %}

{% block styles %}
  <style>
  </style>
{% endblock %}

{% block container %}
  <h3 class="text-center">Ingrese un Superhéroe Nuevo</h3>
  <div class="row">
    <div class="col-4 offset-4">
      <form action="/users" method="post">
        <div>
          <label for="name">Ingrese el nombre:</label>
          <input type="text" name="nombre">
        </div>
        <div>
          <label for="name">Ingrese el superpoder:</label>
          <input type="text" name="superpoder">
        </div>
        <div>
          <label for="name">Ingrese el tipo de superheroe:</label>
          <select name="tipo">
            <option value="fisico">Físico</option>
            <option value="mutacion">Mutación</option>
            <option value="psiquico">Psíquico</option>
            <option value="no tiene ningun poder xd">Poder del conocimiento</option>
          </select>
        </div>
        <input type="submit" value="Crear" class="btn btn-primary mt-2">
      </form>
    </div>
  </div>
{% endblock %}
